.secao-priva{
    color: #3d3d3d;
    display: flex;
    flex-direction: column;
    font-weight: 200;
    gap: 20px;
    margin: 0 10%;
    margin-bottom: 5%; 
    line-height: 1.5;
}

.politica-h1{
    color: var(--verde);
    font-size: 55px;
    font-weight: 500;
    margin-top: 10%;
    text-align: center;
}

@media (max-width: 690px) {
    .politica-h1{
        font-size: 30px;
        margin-top: 30%;

    }
}