.meu-footer {
    background-color: var(--verde);
    width: 100%;
    height: 15em;  
}

.logo-negativo{
    width: 190px;
    height: auto;
}

.imagem-dnv{
    width: 110px;
    height: auto;    
}

/*posicionamento*/

.meu-footer{
    align-items: center;/*qualquer coisa mexo nesssa linha*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tabelas-footer{
    display: flex;
    gap: 90px;
}

.imagens-footer{
    display: flex;
    gap: 25px;
}


.tabela1, .tabela2{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.tabela1 h4, .tabela2 h4 {
    color: var(--cor-fonte-branca);
    font-size: 16px;
    font-weight: 400;
}

/* vai ser um teste */

.ancoras-footer {
  position: relative;
  display: block;
  color: var(--cor-fonte-branca);
  text-decoration: none;
  margin: 6px 0;
  padding-left: 25px; /* espaço pro traço/seta */
  transition: color 0.3s ease;
}

/* traço à esquerda */
.ancoras-footer::before {
  content: '—'; /* o traço */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* ao passar o mouse: vira seta */
.ancoras-footer:hover::before {
  content: '⟶'; /* seta direita */
  color: var(--cor-fonte-branca);
}

.ancoras-footer:hover {
  color: var(--cor-fonte-branca);
}

.pai-footer{
    display: flex;
    flex-direction: column;
}

.controle-copyright{
    text-align: center;
    background-color: var(--verde);
    padding-bottom: 3em;
    font-size: 1.2em;
    margin-top: -2px;
}

.copyright{
    color: var(--cor-fonte-branca);
}

/* MOBILE – até 480px (iPhone SE) */
@media (max-width: 480px){
    
    .meu-footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    }

    .imagens-footer{
    flex-direction: column;
    align-items: center;
    padding: 10%;
    }

    .tabelas-footer{
    width: 100%;
    margin-left: 10%;
    }

    .tabela1, .tabela2{
    font-size: 15px;
    }

    .controle-copyright{
        border: none;
    }
}

/* tela de 768px */
@media (max-width: 768px) {
    .meu-footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    }

    .imagens-footer{
    flex-direction: column;
    align-items: center;
    padding: 10%;
    }

    .tabela1, .tabela2{
    font-size: 15px;
    }
}

@media (max-width: 820px) {
    .meu-footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    }

    .imagens-footer{
    flex-direction: column;
    align-items: center;
    padding: 10%;
    }

    .tabela1, .tabela2{
    font-size: 15px;
    }
}

@media (max-width: 912px) {
    .meu-footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    }

    .imagens-footer{
    flex-direction: column;
    align-items: center;
    padding: 10%;
    }

    .tabela1, .tabela2{
    font-size: 15px;
    }
}

@media (max-width: 344px) {
    .meu-footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    }

    .imagens-footer{
    flex-direction: column;
    align-items: center;
    padding: 10%;
    }

    .tabela1, .tabela2{
    font-size: 13px;
    }
}